<html>
<head>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<style>
  body{
    margin: auto 0;
    background: #F6F6F6;
  }

  h1{
    color: #339999;
  }

  a{
    text-decoration: none;
    font-size: 28px;

  }

  a:hover{
    color: #39A85B;
  }

  br{
    margin-bottom: 20px;
  }
  
</style>
  <title>Document</title>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
     
    <h1>Nepali News Apis</h1>
    <hr>

 <h2>Apis For Nagariknews</h2>

      <a href="http://110.44.121.29/apis/nagiraknews/politics/">Politics</a></li><br>
      <a href="http://110.44.121.29/apis/nagiraknews/economy/">Economy</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/sport/">Sport</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/abroad/">Abroad</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/technology/">Technology</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/art/">art</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/metropolitan/">metropolitan</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/interview/">interview</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/foreignemployment/">foreignemployment</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/opinion/">opinion</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/blog/">blog</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/health/">health</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/education/">education</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/society/">society</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/videos/">videos</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/lifestyle/">lifestyle</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/friday/">friday</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/saturday/">saturday</a><br>
      <a href="http://110.44.121.29/apis/nagiraknews/junkiri/">junkiri</a><br>
 
    </div>
  </div>
</div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
</body>
</html>